@font-face {
  font-family: 'Helvetica LT Std';
  src: url('/fonts/HelveticaLTStd-Roman.woff2') format('woff2'),
    url('/fonts/HelveticaLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Acumin Variable';
  src: url('/fonts/AcuminVariableConcept.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akira Expanded';
  src: url('/fonts/AkiraExpandedDemo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Perfect Dream';
  src: url('/fonts/PerfectDream-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sweetie Pie';
  src: url('/fonts/SweetiePie.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/ARCHIVO-THIN.TTF') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/ARCHIVO-THINITALIC.TTF') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/ARCHIVO-EXTRALIGHT.TTF') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/ARCHIVO-EXTRALIGHTITALIC.TTF') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/ARCHIVO-LIGHT.TTF') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/ARCHIVO-LIGHTITALIC.TTF') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/ARCHIVO-REGULAR.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/ARCHIVO-MEDIUM.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/ARCHIVO-MEDIUMITALIC.TTF') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/ARCHIVO-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/ARCHIVO-BOLDITALIC.TTF') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Advercase';
  src: url('/fonts/AdvercaseFont-ONLINE-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Advercase';
  src: url('/fonts/AdvercaseFont-ONLINE-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}